# This is Git's per-user configuration file.
[user]
	name = frankline
	email = womafamily@gmail.com
# Please adapt and uncomment the following lines:
#	name = root
#	email = root@frank-git.us-east4-c.c.snappy-monolith-343502.internal
